body {
  background: rgb(166, 166, 236);
  background: linear-gradient(
    90deg,
    rgba(166, 166, 236, 1) 19%,
    rgba(41, 31, 212, 1) 64%
  );
}

.side-nav {
  width: 18%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid rgb(133, 132, 132);
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* .side-nav > div {
  flex: 1;
} */

.title {
  border-bottom: 1px solid white;
  align-self: left;
  margin: 15px;
  font-size: 18px;
  padding: 15px;
  color: white;
}

.logo {
  /* border: 1px solid black; */
  margin: 15px;
  align-self: center;
}

.logo > img {
  height: 90px;
  width: 90px;
}

.content {
  /* border: 1px solid black; */
}

.content > ul > li {
  /* border-bottom: 1px solid white; */
  margin: 15px;
  list-style: none;
  padding: 15px;
  font-size: 18px;
  color: rgb(7, 61, 87);
}

.top-nav {
  margin-left: 18%;
  /* left: 10; */
  padding: 25px;
  position: fixed;
  border-bottom: 1px solid white;
  top: 0;
  width: 80%;
  height: 65px;
  box-sizing: border-box;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: flex-start;
}

.search {
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
}

::placeholder {
  color: rgb(7, 61, 87);
}

.profile {
  /* border: 1px solid white; */
  margin-left: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(7, 61, 87);
  /* min-width: 70px; */
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* padding: 15px; */
  z-index: 1;
  right: 0;
}
.profile:hover .dropdown-content {
  display: block;
}

.dropdown-content > ul > li {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid white;
}
